


#quilt {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#quilt img {
    display: block;
    max-width: 400px;
    padding: 0 20px;
}


